.App {
  text-align: center;
}

.hi1{
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Rojo{
  color: red;
}
.Verde{
  color: green;
}
.tituloc{
  color: rgba(255, 0, 0, 0.76);
}
img{
 
  height: fit-content;
  width: 70%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.just{
  align-items: center;
}
.justificar{
  width: 85%;
  padding-left: 15%;

   text-align: justify;
   flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
