<div class="container">
    <h1>Mantenimiento de cursos </h1>
    <div class="table-responsive">
      <table class="table table-striped
      table-hover	
      table-borderless
      table-primary
      align-middle">
        <thead class="table-light">
          <caption>Tabla Cursos</caption>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Tiempo</th>
            <th>Usuario</th>
          </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr class="table-primary" *ngFor="let item of arregloDatos" >
              <td scope="row" >{{ item.id }}</td>
              <td>{{item.nombre}}</td>
              <td>{{item.descripcion}}</td>
              <td>{{item.tiempo}}</td>
              <td>{{item.usuario}}</td>
            </tr>
            
          </tbody>
          <tfoot>
            
          </tfoot>
      </table>
    </div>
    
  </div>