<div class="container">
    <h1>Mantenimiento de cursos </h1>

    <div class="container">
      <h2>Mantenimiento de datos</h2>



[(ngModel)]="biding"


      <div class="mb-3">
        <label for="" class="form-label">Nombre</label>
        <input type="text" [(ngModel)]="modeloCurso.nombre"
          class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">Nombre</small>
      </div>

      <div class="mb-3">
        <label for="" class="form-label">Descripcion</label>
        <input type="text" [(ngModel)]="modeloCurso.descripcion"
          class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">Descripcion</small>
      </div>

      <div class="mb-3">
        <label for="" class="form-label">Tiempo</label>
        <input type="text" [(ngModel)]="modeloCurso.tiempo"
          class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">Tiempo</small>
      </div>
      <div class="mb-3">
        <div class="d-grid gap-2">
          <button (click)="addAndEdit()" type="button" name="" id="" class="btn btn-primary" >Guardar</button>
        </div>

      </div>


    </div>
    <div class="table-responsive">
      <table class="table table-striped
      table-hover	
      table-borderless
      table-primary
      align-middle">
        <thead class="table-light">
          <caption>Tabla Cursos</caption>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Tiempo</th>
            <th>Usuario</th>
          </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr class="table-primary" *ngFor="let item of arregloDatos" >
              <td scope="row" >{{ item.id }}</td>
              <td>{{item.nombre}}</td>
              <td>{{item.descripcion}}</td>
              <td>{{item.tiempo}}</td>
              <td>{{item.usuario}}</td>
            </tr>
            
          </tbody>
          <tfoot>
            
          </tfoot>
      </table>
    </div>
    
  </div>