


<div class="container">
  <div class="container">
    
  
  
  
  
    
   
   <div class="container-fluid">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" >
      <li class="nav-item" >
        <a class="nav-link"  [class.active]="pestanaActiva === 'pestana1'" (click)="cambiarPestana('pestana1')">Cursos</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link"  [class.active]="pestanaActiva === 'pestana2'" (click)="cambiarPestana('pestana2')">Grupos</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link"  [class.active]="pestanaActiva === 'pestana3'" (click)="cambiarPestana('pestana3')">Estudiantes</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link"  [class.active]="pestanaActiva === 'pestana4'" (click)="cambiarPestana('pestana4')">Profesor</a>
      </li>
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content">
      <div *ngIf="pestanaActiva === 'pestana1'">
        <app-curso></app-curso>
        </div>
        <div *ngIf="pestanaActiva === 'pestana2'">
            Esto es una prueba
            <app-grupo></app-grupo>
           </div>
           <div *ngIf="pestanaActiva === 'pestana3'">
            <app-estudiante></app-estudiante>
           </div>

           <div *ngIf="pestanaActiva === 'pestana4'">
            <app-profesor></app-profesor>
           </div>





       </div>
   </div>
    

  </div>

  
  




</div>

